@import 'tailwindcss';

@theme {
    --color-blue-link: #0c2340;
    --color-blue-brand: #0c2340;
    --color-blue-brand-dark: #081629;
    --color-gold-brand: #ae9142;
    --color-gold-brand-dark: #8c7535;
    --color-gold-brand-light: #d39f10;
    

}
